<!DOCTYPE html>
<html>
<head>
  <meta charset = "UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../libs/fontawesome.css">
  <link rel="stylesheet" href='../css/index.css'>
  <link rel="stylesheet" href="../libs/bootstrap.min.css">
  <script src="../libs/popper.min.js"></script>
  <script src="../libs/clipboard.min.js"></script>
  <script src="../libs/jquery.js"></script>
  <script src="../libs/bootstrap.min.js"></script>
  <title>Semux Metamask</title>
</head>
  <body>
    <div class = 'buyPage'>
      <div class = 'h3Headline'>
        <h3 class = 'h3title'>Buy Semux</h3>
        <img src = '../img/icons/cross.png' class = 'goToHomePage' width = '25px'/>
      </div>
      <div class = 'borderBottom' style = 'padding: 5px 15px; margin-top: -10px'>
        <span>
          To interact with decentralized applications using SeMask, you need SEM in your wallet.
        </span>
      </div>
      <div class = 'app-body'>
        <div class = 'buyPlace'>
          <img src = '../img/stexLogo.png' width = '70px' style = 'margin-bottom: 10px'/>
          <p>Buy SEM with STEX</p>
          <p>Stex lets you use to buy SEX via any cryptoccurencies.</p>
          <div class = 'buttons'>
            <button class = 'btn goToStex'>Continue to Stex</button>
          </div>
        </div>
        <div class = 'buyPlace'>
          <img src = '../img/tokokLogo.png' width = '70px' style = 'margin-bottom: 10px'/>
          <p>Buy SEM with Tokok</p>
          <p>Tokok lets you use to buy SEX via any cryptoccurencies.</p>
          <div class = 'buttons'>
            <button class = 'btn goToTokok'>Continue to Tokok</button>
          </div>
        </div>
      </div>
    </div>
  <script src="../js/client.js"></script>
  </body>
</html>