<!DOCTYPE html>
<html>
<head>
  <!-- <meta http-equiv="refresh" content="4" > -->
  <meta charset = "UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../libs/fontawesome.css">
  <link rel="stylesheet" href='../css/index.css'>
  <link rel="stylesheet" href="../libs/bootstrap.min.css">
  <script src="../libs/popper.min.js"></script>
  <script src="../libs/jquery.js"></script>
  <script src="../libs/bootstrap.min.js"></script>
  <script src="../libs/clipboard.min.js"></script>
  <script src="../libs/semux.js"></script>

  <title>Semux Metamask</title>
</head>
<body>
  <div class = 'main'>
    <!-- ================= PUG Head =================== -->
    <div class = 'app-header'>
      <img src = '../img/128px.png' class = 'logo goToHomePage'/>
      <div class = 'networkList'>
        <div>Testnet</div>
        <img src = '../img/icons/arrowDown.png' width='16px' height="16px">
      </div>
      <div class = 'dropdown mainMenu'>
        <div data-toggle='dropdown'><img class = 'verticalmenu' src = '../img/icons/verticalmenu.png'/></div>
        <div class ='dropdown-menu'>
          <ul>
            <li class = 'menu-item'>
              <div>
                <img src = '../img/icons/add.png' width="20px">My Accounts
              </div>
            </li>
            <li class = 'menu-item goToNewAccPage'>
              <div>
                <img src = '../img/icons/add.png' width='20px'>Create new account
              </div>
            </li>
            <li class = 'menu-item goToImportAccPage'>
              <div >
                <img src = '../img/icons/import.png' width='20px'>Import Account
              </div>
            </li>
            <li class = 'menu-item goToHardwarePage'>
              <div>
                <img src = '../img/icons/connect.png' width='20px'>Connet Hardware Wallet
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- ============================================== -->
    <div class = 'app-head'>
      <!-- gamburder, account, maybe some more info -->
      <div class = 'accountMenu'  data-toggle='tooltip' data-placement='bottom' title='Menu'>
        <img src = '../img/icons/menu.png' width='27px'>
      </div>
      <div class = 'addressData' data-clipboard-target="#foo">
        <p class = 'nameAddress' id = "foo"></p>
        <p class = 'gray hexAddress' ></p>
      </div>
      <div class = 'dropdown accountOptions'>
        <div data-toggle='dropdown'><img src = '../img/icons/verticalmenu.png'></div>
        <div class ='dropdown-menu'>
          <ul>
            <li class = 'menu-item goToAccountDetails'>
              <div>
                <img src = '../img/icons/info.png' width='20px'>Account Details
              </div>
            </li>
            <li class = 'menu-item goToSemuxScan'>
              <div>
                <img src = '../img/icons/circleArrow.png' width='20px'>View on Semuxscan
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>


  </div>
  <div class='app-body'>
    <!-- number of sem, $ equivalent, send, vote, buy, history -->
    <!-- Semux logo -->
    <div class = 'semuxValue'>
      <div class = 'circleBorder'>
        <img id = 'circleLogo' src = '../img/128px.png' width = '45px' />
      </div>
      <div>
        <p class = 'semValue'>0 SEM</p>
        <div class = 'semLocked'>
          <img src = '../img/icons/locked.png' width='12px'>
        </div>
        <p class = 'gray usdValue'>$0 USD</p>
        <div class='buttons'>
          <button class="btn goToBuyPage">Buy</button>
          <button class="btn goToSendPage">Send</button>
          <button class="btn goToVotePage">Vote</button>
        </div>
      </div>
    </div>
  </div>
  <div class="app-footer">
    <!-- History with table -->
    <p class = 'gray historyLabel'>History</p>
    <div class = 'transactionList'>

    </div>
  </div>
</div>
<script src="../js/client.js"></script>
<script src="../js/init.js"></script>
<script src="../js/fillHomeData.js"></script>
</body>
</html>
