<!DOCTYPE html>
<html>
<head>
	<!-- <meta http-equiv="refresh" content="4" > -->
	<meta charset = "UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../libs/fontawesome.css">
	<link rel="stylesheet" href='../css/index.css'>
	<link rel="stylesheet" href="../libs/bootstrap.min.css">
	<script src="../libs/popper.min.js"></script>
	<script src="../libs/clipboard.min.js"></script>
	<script src="../libs/jquery.js"></script>
	<script src="../libs/bootstrap.min.js"></script>
	<script src="../libs/semux.js"></script>
	<!-- <script src="../libs/buffer.min.js"></script> -->

	<title>Semux Metamask</title>
</head>
<body>
	<div class = 'main'>
		<!-- ================= PUG Head =================== -->
		<div class = 'app-header'>
			<img src = '../img/128px.png' class = 'logo goToHomePage'/>
			<div class = 'networkList'>
				<div>Testnet</div>
				<img src = '../img/icons/arrowDown.png' width='16px' height="16px">
			</div>
			<div class = 'dropdown mainMenu'>
				<div data-toggle='dropdown'><img class = 'verticalmenu' src = '../img/icons/verticalmenu.png'/></div>
				<div class ='dropdown-menu'>
					<ul>
						<li class = 'menu-item goToNewAccPage'>
							<div>
								<img src = '../img/icons/add.png' width='20px'>Create new account
							</div>
						</li>
						<li class = 'menu-item goToImportAccPage'>
							<div >
								<img src = '../img/icons/import.png' width='20px'>Import Account
							</div>
						</li>
						<li class = 'menu-item goToHardwarePage'>
							<div>
								<img src = '../img/icons/connect.png' width='20px'>Connet Hardware Wallet
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- ============================================== -->
		<div class = 'app-body'>
			<div class = 'new-account'>
				<!-- standart for all h3 header on any page -->
				<h3 class = 'h3title'>New Account</h3>
				<div class = 'tabs customTabs'>
					<ul class="nav nav-tabs" role="tablist">
						<li  class="nav-item">
							<a class="nav-link active"  data-toggle="tab" href="#create-tab" role="tab" aria-controls="create-tab" aria-selected="true">Create</a>
						</li>
						<li  class="nav-item">
							<a class="nav-link"  data-toggle="tab" href="#import-tab" role="tab" aria-controls="import-tab" aria-selected="false">Import</a>
						</li>
						<li  class="nav-item">
							<a class="nav-link"  data-toggle="tab" href="#connect-tab" role="tab" aria-controls="connect-tab" aria-selected="false">Connect</a>
						</li>
					</ul>
					<div class="tab-content">
						<!-- crate new wallet -->
						<div class="tab-pane fade show active" id="create-tab" role="tabpanel" aria-labelledby="create-tab">
							<div class = 'createWalletForm'>
								<p>Account Name</p>
								<!-- placholder based on number of wallets -->
								<input class = 'customInput' id = 'accountName' type = 'text' placeholder="Account" />
								<div class = 'buttons'>
									<button class ='btn btn-cancel'>Cancel</button>
									<button class ='btn' data-toggle="modal" data-target="#password-modal">Create</button>
								</div>
							</div>
							<div class="modal fade modalPassword" id="password-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="exampleModalLabel">Create new Wallet</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true"><img src="../img/icons/cross.png" width='20px' /></span>
											</button>
										</div>
										<div class="modal-body">
											<p>Input a password to create a wallet:</p>
											<input type="password" class = 'passwordField customInput'>
										</div>
										<div class="modal-footer">
											<div class = 'buttons'>
												<button type="button" class="btn" data-dismiss="modal">Cancel</button>
												<button type="button" class="btn" id="createWallet">Create Wallet</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- import wallet -->
						<div class="tab-pane fade" id="import-tab" role="tabpanel" aria-labelledby="import-tab">
							<p>Choose The type:</p>
							<select class = 'form-control selectImportType'>
								<option value = 'privateKey'>Private Key</option>
								<option value = 'json'>JSON File</option>
								<option value = 'hdphrase'>HD phrase</option>
							</select>
							<!-- if private key -->
							<div class = 'importKey'>
								<p>Insert your key here:</p>
								<input class = 'customInput type = 'text' id = 'accountPrivatKey' placeholder="0x0.."/>
							</div>
							<div class = 'importJson' style = 'display: none'>
								<input type='file' id='file' accept=".json" />
								<input class = 'customInput' type = 'password' id = 'accountPass' placeholder="Input Password" />
								<span class = 'error'></span>
							</div>

							<div class = 'buttons'>
								<button class ='btn btn-cancel'>Cancel</button>
								<button class ='btn' id="importWallet">Import</button>
							</div>
						</div>
						<div class="tab-pane fade" id="connect-tab" role="tabpanel" aria-labelledby="connect-tab">
							<p>Soon...</p>
						</div>
					</div>
				</div>


			</div>
		</div>
	</div>
	<script src="../js/client.js"></script>
	<script src="../js/bundle.js"></script>
</body>
</html>
