<!DOCTYPE html>
<html>
<head>
  <!-- <meta http-equiv="refresh" content="4" > -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href='../css/index.css'>
  <link rel="stylesheet" href="../libs/bootstrap.min.css">
  <script src="../libs/popper.min.js"></script>
  <script src="../libs/jquery.js"></script>
  <script src="../libs/clipboard.min.js"></script>
  <script src="../libs/bootstrap.min.js"></script>
  <title>Semux Keeper</title>
</head>
<body data-type="VOTE">
  <div class='main votePage'>
    <div class='app-header'>
      <div class='logo'>
        <span>Vote for delegates</span>
      </div>
    </div>
    <div class='app-body'>
      <div class='sendTxBlock'>
        <div class='senderAccount'>
          <p class='senderName'></p>
          <p class='senderAmount'></p>
          <hr>
        </div>
        <p class='error' style="display: none;"></p>
        <div class=''>
          <select class='delegatesList liveSearch' data-live-search='true'>
            <option value="">Select Delegate</option>
          </select>
        </div>
        <div class=''>
          <input type='text' class='customInput amount' placeholder="0 SEM" width='50px' />
        </div>
        <div class='buttons'>
          <button class ='main-button goToApprovePage'>Next</button>
          <a href="#" class="btn-cancel btn-link">Cancel</a>
        </div>
      </div>
    </div>
  </div>
  <link rel="stylesheet" href="../libs/bootstrap-select.min.css">
  <script src="../libs/bootstrap-select.min.js"></script>

  <script src="../js/client.js"></script>
  <script src="../js/send-page.js" type="module"></script>
  <script src="../js/delegates.js"></script>

</body>
</html>
