<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../libs/fontawesome.css">
  <link rel="stylesheet" href='../css/index.css'>
  <link rel="stylesheet" href="../libs/bootstrap.min.css">
  <script src="../libs/popper.min.js"></script>
  <script src="../libs/clipboard.min.js"></script>
  <script src="../libs/jquery.js"></script>
  <script src="../libs/bootstrap.min.js"></script>
  <title>Semux Keeper</title>
</head>
  <body>
    <div>
      <div class='app-body'>
        <div class="welcome-page">
          <div class='logo'>
            <img src='../img/inline-logo.png' />
          </div>
          <p class="hint">This extension allows you to securely interact with Semux-enabled web services from the browser.</p>
          <button class='welcome-button goToNewAccPage'>Get Started</button>
        </div>
      </div>
    </div>
  <script src="../js/client.js"></script>
  </body>
</html>
